/* body style */
body {
    border: .5vw solid lightgrey;
}


#main_footer {
    color: white;
    background-color: red;
    border: 10px;
}

form {
    color: red;
}

/* title style */

.container-title {
    color: white;
    background-color: red;
}

#webTitle {
    font-family: 'Sofia', cursive;
    background-color: red;
    color: white;
    font-size: 10vw;
}

/* card style */

#base-card {
    min-width: 45vw;
    color: white!important;
    background-color:red!important;
    margin: 3px;
}

#card {
    min-width: 32%;
    color: white!important;
    background-color:red!important;
    margin: 0.5vw;
}
#card:hover{
    box-shadow: 0 0 2vw gray;
}
#base-card:hover {
    box-shadow: 0 0 0.5vw gray;
}

#contact-card {
    min-width: 50%;
    margin: 3px;
    color: white;
    background-color: red;
}
#contact-card:hover{
    box-shadow: 0 0 1 grey;
}
/* img style */

#main_img {
    width: 100%;
}

#card-img {
    max-height: 10vh;
}
